body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

form {
  background-color: #fff;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.form-control {
  text-align: left;
  margin-bottom: 25px;
}

.form-control label {
  display: block;
  margin-bottom: 10px;
}

.form-control input {
  border: 1px solid #777;
  border-radius: 2px;
  padding: 10px;
  display: block;
  width: 95%;
}

.form-control input[type="radio"] {
  float: left;
  justify-content: center;
  width: auto;
}

* {
  padding: 0;
  margin: 0;
}

html {
  background-color: #ffffff;
}

body {
  font: 16px/1.6 Arial, sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}

.footer-Backgroud {
  background-color: #2c292f;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-Backgroud .footer-kiri,
.footer-Backgroud .footer-center,
.footer-Backgroud .footer-kanan {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-Backgroud .footer-kiri {
  width: 30%;
}

.footer-Backgroud .footer-link {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-Backgroud .footer-link a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-Backgroud .footer-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-Backgroud .footer-center {
  width: 35%;
}

.footer-Backgroud .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-Backgroud .footer-center i.email {
  font-size: 17px;
  line-height: 38px;
}

.footer-Backgroud .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-Backgroud .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-Backgroud .footer-center p a {
  color: #e0ac1c;
  text-decoration: none;
}

.footer-Backgroud .footer-kanan {
  width: 30%;
}

.footer-Backgroud .footer-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-Backgroud .footer-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  width: 90%;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 35px;
  font-weight: bold;
  float: left;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  top: 0;
  background: #b7c4cf;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
}

nav ul li :hover {
  text-decoration: underline;
}
.menu-bar {
  display: none;
  z-index: 99;
}

.button {
  border: none;
  background-color: transparent;
  padding: 0.5em 0.7em;
  font-size: 30px;
  color: #fff;
}

.tbl-merah {
  background: #ff884b;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

@media screen and (max-width: 1100px) {
  .wrapper {
    width: 105%;
  }
}

@media screen and (min-height: 576px) {
  .wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }

  .logo a {
    margin: auto;
  }
  .menu-bar {
    display: block;
  }
  .menu ul {
    display: none;
  }
  .header {
    flex-direction: column;
  }
  .header-img {
    width: 100%;
  }
  .kolom {
    margin-top: 2em;
  }
}
