* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: serif;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  font-family: serif;
  color: black;
  text-align: center;
}

.kolom {
  min-height: 100vh;
  font-size: 20px;
  padding: 2em 3em;
}

.Deskripsi {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 2em;
}
.kolom p {
  text-indent: 2em;
  padding-bottom: 0.5em;
}
.kolom ol {
  padding-left: 1em;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  width: 90%;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 30px;
  font-weight: bold;
  float: left;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
}

.menu {
  float: right;
  z-index: 99;
  display: flex;
}

.menu ul {
  background: #b7c4cf;
  display: flex;
  justify-content: space-between;
}

.menu .active {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding-top: 5em;
}

.menu-bar {
  display: none;
  z-index: 99;
}

.button {
  border: none;
  background-color: transparent;
  padding: 0.5em 0.7em;
  font-size: 30px;
  color: #fff;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  top: 0;
  background: #b7c4cf;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
  margin: 1em 0;
  padding: 0 1em;
}

nav ul li a {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
}

nav ul li :hover {
  text-decoration: underline;
}

.tbl-merah {
  background: #ff884b;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

html {
  background-color: #ffffff;
}

body {
  font: 16px/1.6 Arial, sans-serif;
}

@media (max-height: 80%) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}

.footer-Backgroud {
  background-color: #2c292f;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-Backgroud .footer-kiri,
.footer-Backgroud .footer-center,
.footer-Backgroud .footer-kanan {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-Backgroud .footer-kiri {
  width: 30%;
}

.footer-Backgroud .footer-link {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-Backgroud .footer-link a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-Backgroud .footer-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-Backgroud .footer-center {
  width: 35%;
}

.footer-Backgroud .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-Backgroud .footer-center i.email {
  font-size: 17px;
  line-height: 38px;
}

.footer-Backgroud .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-Backgroud .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-Backgroud .footer-center p a {
  color: #e0ac1c;
  text-decoration: none;
}

.footer-Backgroud .footer-kanan {
  width: 30%;
}

.footer-Backgroud .footer-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-Backgroud .footer-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

@media screen and (max-width: 1100px) {
  .wrapper {
    width: 105%;
  }
}

@media screen and (min-height: 576px) {
  .wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }

  .logo a {
    margin: auto;
  }
  .menu-bar {
    display: block;
  }
  .menu ul {
    display: none;
  }
  .header {
    flex-direction: column;
  }
  .header-img {
    width: 100%;
  }
  .kolom {
    margin-top: 2em;
  }
}
