* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper{
    width: 90%;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 30px;
    font-weight: bold;
    float:left;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

.menu{
    float: right;	
	z-index: 99;
	display: flex;
}

.menu ul{
	background: #B7C4CF;
	display: flex;
	justify-content: space-between;
}

.menu .active{
	position: absolute;
	top: 0;
	right: 0;
	display:flex;
	flex-direction: column;
	padding-top: 5em;
}

.menu-bar{
	display: none;
	z-index: 99;
}

.button {
	border: none;
	background-color: transparent;
	padding: .5em .7em;
	font-size: 30px;
	color: #fff;
}


nav{
    width: 100%;
    margin: auto;
    display: flex;
	position: sticky;
	position: -webkit-sticky;
    top: 0;
    background: #B7C4CF;
    z-index: 1;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
	margin: 1em 0;
	padding: 0 1em;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;	
}

nav ul li :hover{
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}
.header {
	display: flex;
}
.header-img{
	width: 50%;
}
.header-img img {
	width: 100%;
}
.kolom {
	width: 50%;
	text-align: center;
	margin: auto;
}

.kolom .deskripsi {
    
    font-weight: bold;
    font-family: 'comic sans ms';
    color: black;
}

h2{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin: .5em auto;
    color: black;
    width: 100%;
}

a.tbl-merah{
    background: #FF884B;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-merah :hover{
    background: #FFD384;
    text-decoration: none;
}

p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

html{
	background-color: #ffffff;
}

body{
	font:16px/1.6 Arial,  sans-serif;
}

header{
	text-align: center;
	padding-top: 100px;
	margin-bottom:190px;
}

header h1{
	font: normal 32px/1.5 'Open Sans', sans-serif;
	color: #3F71AE;
	padding-bottom: 16px;
}


.footer-Backgroud{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

.footer-Backgroud .footer-kiri,
.footer-Backgroud .footer-center,
.footer-Backgroud .footer-kanan{
	display: inline-block;
	vertical-align: top;
}

.footer-Backgroud .footer-kiri{
	width: 30%;
}

.footer-Backgroud .footer-link{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-Backgroud .footer-link a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-Backgroud .footer-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-Backgroud .footer-center{
	width: 35%;
}block


.footer-Backgroud .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-Backgroud .footer-center i.email{
	font-size: 17px;
	line-height: 38px;
}

.footer-Backgroud .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-Backgroud .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-Backgroud .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}

.footer-Backgroud .footer-kanan{
	width: 30%;
}

.footer-Backgroud .footer-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-Backgroud .footer-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

@media screen and (max-width:1100px) {
	.wrapper{
		width: 100%;
	}
}

@media screen and (max-width:1000px) {
	footer { position: static; }
	header { padding-top:40px; }

	.logo a{
		margin: auto;
	}
	.menu-bar{
		display: block;
	}
	.menu ul {
		display: none;
	}
	.header {
		flex-direction: column;
	}
	.header-img{
		width: 100%;
	} 
	.kolom {
		margin-top: 2em;
	}
}
